.hero {
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(144, 144, 212),
    rgb(99, 99, 204),
    rgb(32, 32, 224)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.hero .left {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeIn 1s ease-out;
}

.hero .left h1 {
  padding: 1rem 1rem;
  font-size: 5rem;
  color: rgb(253, 152, 58);
}

.hero .left p {
  padding: 1rem;
  font-size: 1.5rem;
  overflow: hidden;
}

.hero .left .link {
  background: linear-gradient(135deg, #ecac63, #ff6600);
  border: none;
  height: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.5rem 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  font-size: 1.4rem;
  border-radius: 8px;
  text-decoration: none;
  animation: pulse 2s infinite;
  margin: 1rem 0;
}

.hero .left .link:hover {
  transform: scale(1.08) translateX(-50%);
  box-shadow: 0 0 25px #ff9900;
}

.hero .left .link:active {
  transform: scale(0.95) translateX(-50%);
}

.hero .right {
  position: absolute;
  top: 50%;
  left: 90%;
  animation: heoFadeIn 1s ease-out, heroFloat 5s infinite ease-in-out;
  border-radius: 5px;
}

@keyframes heroFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes heroFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(inherit);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 145, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 153, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 153, 255, 0);
  }
}

@media (max-width: 768px) {
  .hero .left h1 {
    font-size: 2.5rem;
  }

  .hero .left p {
    font-size: 1rem;
    overflow: hidden;
  }

  .hero .left {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero .right {
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-75%,-50%);
  }
}
